input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 20%;
    height: 70px;
    background: url("../newMaster/Leader〇.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    opacity: 0.5;
}

input[type="checkbox"]:checked{
    display: inline-block;
    width: 20%;
    height: 70px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    opacity: 1;
}